{% extends 'base.html' %}

{% block content %}
<div class="quizzes">
  <div class="intro-text">
    <h1 class="Title">Quizzes</h1>
  </div>
  {% if user.is_superuser %}
  <div class="create quiz">
  <a href="{% url 'quiz:quiz_create' %}">Create new quiz</a>
  {% endif %}
  <ul>
    {% for quiz in quizzes %}
      {% if quiz.quiz_id %}
        <li><a href="{% url 'quiz:quiz_detail' quiz.quiz_id %}">{{ quiz.title }}</a></li>
      {% else %}
        <li>{{ quiz.title }} (Invalid ID)</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
