{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<!--Start Landing Section-->
<div class="landing">
  <div class="intro-text">
      <h1>WELCOME TO TRIVIA_QUIZ</h1>
      <h2>Challenge your mind with the ultimate Trivia_Quiz!</h2>
      <!-- <p>Challenge your mind with the ultimate Trivia_Quiz!</p> -->
  </div>
  {% if user.is_authenticated %}
      <div>
          <p>Welcome, {{ user.username }}!</p>
          <a href="{% url 'quiz:quiz_list' %}" class="btn">Start a Quiz</a>
          <a href="{% url 'quiz:result_list' %}" class="btn">View Results</a>
      </div>
  {% else %}
      <div>
          <p>Please log in or register to start taking quizzes.</p>
          <form action="{% url 'authentication:login' %}" method="post" class="login-form">
              {% csrf_token %}
              {{ form.email }}
              {{ form.password }}
              <!-- <button type="submit">Login</button> -->
          </form>
          <p class="signup-option">
            <!-- <a href="{% url 'authentication:register' %}">You don't have an account? Sign up here</a> -->
          </p>
      </div>
  {% endif %}
</div>
<!--End Landing Section-->
<!--Start Features-->
<div class="features">
  <div class="container">
    <div class="feat">
      <i class="fas fa-magic fa-3x"></i>
      <h3>Tell Us Your Idea</h3>
      <p>Share your quiz ideas, and we will help you bring them to life. Customize your quizzes to challenge your friends or educate others</p>
    </div>
    <div class="feat">
      <i class="far fa-gem fa-3x"></i>
      <h3>We Will Do All The Work</h3>
      <p>From question generation to scoring, our system handles it all. Focus on enjoying the quizzes while we manage the details.

      </p>
    </div>
    <div class="feat">
      <i class="fas fa-globe-asia fa-3x"></i>
      <h3>Your Quiz is Worldwide</h3>
      <p>Publish your quizzes and reach a global audience. Track performance and see how users from around the world engage with your content</p>
    </div>
  </div>
</div>
<!--End Features-->
<!-- Start Services -->
<div class="services" id="services">
  <div class="container">
    <h2 class="special-heading">Services</h2>
    <p>Don't be busy, be productive</p>
    <div class="services-content">
      <div class="col">
        <!-- Start Service -->
        <div class="srv">
          <i class="fas fa-palette fa-2x"></i>
          <div class="text">
            <h3>Dynamic Quiz Questions</h3>
            <p>
              Enjoy a variety of questions that change with each quiz session, keeping the challenge fresh.
            </p>
          </div>
        </div>
        <div class="srv">
          <i class="fab fa-sketch fa-2x"></i>
          <div class="text">
            <h3>Varied Question Types</h3>
            <p>
              Experience a diverse range of question types that keep every quiz session engaging and informative.
            </p>
          </div>
        </div>
        <!-- End Service -->
      </div>
      <div class="col">
        <!-- Start Services -->
        <div class="srv">
          <i class="fas fa-vector-square fa-2x"></i>
          <div class="text">
            <h3>Score Tracking</h3>
            <p>
              Keep track of your scores across different quizzes and aim for the top of the leaderboard.
            </p>
          </div>
        </div>
        <div class="srv">
          <i class="fas fa-pencil-ruler fa-2x"></i>
          <div class="text">
            <h3>Feedback & Notifications</h3>
            <p>
              Receive instant feedback on your quiz performance and stay updated with notifications.
            </p>
          </div>
        </div>
        <!-- End Services -->
      </div>
      <!-- <div class="col">
        <div class="image image-column">
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- End Services -->
<!--Start Portfolio-->
<!-- <div class="portfolio" id="portfolio">
  <div class="container">
    <h2 class="special-heading">Portfolio</h2>
    <p>If you do it right, it will last forever.</p>
    <div class="portfolio-content">
      <div class="card">
        <div class="info">
          <h3>Project Here</h3>
          <p>My creative ability is very difficult to measure because it can manifest in so many surprising and.</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3>Project Here</h3>
          <p>My creative ability is very difficult to measure because it can manifest in so many surprising and.</p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3>Project Here</h3>
          <p>My creative ability is very difficult to measure because it can manifest in so many surprising and.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--End Portfolio-->
<!--Start About-->
<!-- <div class="about" id="about">
  <div class="container">
    <h2 class="special-heading">About</h2>
    <p>Less is more work</p>
    <div class="about-content">
      <div class="image">
      </div>
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo neque voluptate tempora velit cum non,
          fuga vitae architecto delectus sed maxime rerum impedit aliquam obcaecati, aut excepturi iusto laudantium!
        </p>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, sapiente. Velit iure exercitationem
          dolores nesciunt dolore. Eum officiis dolorum hic voluptate quaerat minima, similique inventore esse,
          alias, sed quo officia?
        </p>
      </div>
    </div>
  </div>
</div> -->
<!--End About-->
<!--Start Contact-->
<div class="contact" id="contact">
   <div class="container">
     <h2 class="special-heading">Contact</h2>
     <p>We are born to create</p>
     <div class="info">
       <p class="label">Feel free to drop us a line at:</p>
       <a href="mailto:leonagency@mail.com" class="link">Trivia_Quiz@mail.com</a>
       <div class="social">
        Find Us On Social Networks
        <i class="fab fa-youtube"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
       </div>
     </div>
   </div>
</div>
<!--End Contact-->
{% endblock content %}
